$baseColor: rgba(255,255,255,1);
$bgColor: #FFF5CE;

*{
  position: relative;
}

html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $bgColor;
  &::after{
    content: "ZATY.jp";
    font-size: 27px;
    color: #0a0a0a;
    position: absolute;
    bottom: 25px;
    right: 30px;
  }
}
body{
  border: 10px solid $baseColor;
  padding: 15vw;
  width: 65vw;
  height: 65vw;
  margin: 0;
}
svg{
  overflow: visible;
  font-size: 10px;
}
.target{
  stroke-width: 2;
}
.target-wrap{
  transform:  translate(0em, -2em);
}
.target{
  transform: scaleY(1) scaleX(1);
  transform-origin: 46.8% 38%;
  animation:{
    name: target;
    duration: 3s;
    fill-mode: forwards;
    iteration-count:infinite;
  }
  @keyframes target{
    0%{
      transform: scaleY(1) scaleX(1);
      animation-timing-function: linear;
    }
    20%{
      transform: scaleY(1) scaleX(1);
      animation-timing-function: linear;
    }
    95%{
      transform: scaleY(10) scaleX(1.25);
      animation-timing-function: ease-out;
    }
    100%{
      transform: scaleY(1) scaleX(1);
    }
  }
}
.face-wrap{
  transform: translate(0em, 0em);
  animation:{
    name: face;
    duration: 3s;
    fill-mode: forwards;
    iteration-count:infinite;
  }
  @keyframes face{
    0%{
      transform: translate(0em, 0em);
      animation-timing-function: linear;
    }
    20%{
      transform: translate(0em, 0em);
      animation-timing-function: linear;
    }
    95%{
      transform: translate(0em, 2em);
      animation-timing-function: ease-out;
    }
    98%{
      transform:  translate(0em, -1em);
    }
    100%{
      transform:  translate(0em, 0em);
    }
  }
}
.eye{
  animation:{
    name: eye;
    duration: 2s;
    fill-mode: forwards;
    iteration-count:infinite;
  }
  @keyframes eye{
    0%,50%,54%,100%{
      ry: 16;
    }
    52%{
      ry:0;
    }
  }
}
