$baseColor: rgba(255,255,255,1);
$bgColor: #0E0E0E;

html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $bgColor;
}
body{
  border: 10px solid $baseColor;
  padding: 20vw;
  width: 55vw;
  height: 55vw;
  overflow: hidden;
  &::after{
    content: "ZATY.jp";
    font-size: 36px;
    color: #fff;
    position: absolute;
    bottom: 23px;
    right: 34px;
  }
}
svg{
  overflow: visible;
  font-size: 10px;
  position: relative;
  *{
    stroke: $baseColor;
  }
}
@keyframes rotate1 {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(180deg);
  }
}
@keyframes rotate1 {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-180deg);
  }
}
@keyframes rotate2 {
  from{
    transform: rotate(-5deg);
  }
  to{
    transform: rotate(175deg);
  }
}
@keyframes rotate3 {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(180deg);
  }
}
#screw{
  top: 150px;
  left: 180px;
  z-index: 0;
  animation: {
    name: rotate1;
    duration: 3s;
    timing-function: linear;
    iteration-count: infinite;
  }
  *{
    fill: $baseColor;
    stroke-width: 15px;
    stroke: #383838;
  }
}
#screw-small{
  transform-origin: 200px 200px;
  top: -420px;
  left: -180px;
  animation: {
    name: rotate2;
    duration: 3s;
    timing-function: linear;
    iteration-count: infinite;
  }
}
#screw-big{
  transform-origin: 350px 350px;
  top: -890px;
  left:30px;
  z-index: -1;
  animation: {
    name: rotate3;
    duration: 9s;
    timing-function: linear;
    iteration-count: infinite;
  }
}
