$baseColor: rgba(255,255,255,1);
$bgColor: #bcbce8;

*{
  position: relative;
}

html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $bgColor;
  &::after{
    content: "ZATY.jp";
    font-size: 40px;
    color: #0a0a0a;
    position: absolute;
    bottom: 25px;
    right: 30px;
  }
}
body{
  border: 10px solid $baseColor;
  padding: 0vw;
  width: 95vw;
  height: 95vw;
  margin: 0;
  overflow: hidden;
}
svg{
  transform: scale(1.3);
  transform-origin: center;
}
@keyframes setBody {
  to{
    transform: translateY(0);
  }
}
@keyframes setShadow {
  90%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes jumpHead {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-13vw);
  }
}
@keyframes jumpHeadShadow {
  0%{
    opacity: 1;
  }
  5%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@keyframes jumpHeadBottom {
  0%{
    transform: translateY(-13vw);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes jumpHeadShadowBottom {
  0%{
    opacity: 0;
  }
  95%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes jumpBody2 {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-9vw);
  }
}
@keyframes jumpBody2Shadow {
  0%{
    opacity: 1;
  }
  5%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@keyframes jumpBody2Bottom {
  0%{
    transform: translateY(-9vw);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes jumpBody2ShadowBottom {
  0%{
    opacity: 0;
  }
  95%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes jumpBody1 {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-5vw);
  }
}
@keyframes jumpBody1Bottom {
  0%{
    transform: translateY(-5vw);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes circle {
  from{
    r: 0;
  }
  to{
    r: 4.5;
  }
}
@keyframes jumpAction {
  to{
    transform: scaleX(1);
  }
}
@keyframes blink {
  0%,30%,40%,50%,60%,100%{
    transform: scaleY(1);
  }
  35%,55%{
    transform: scaleY(0.2);
  }
}

.start{
  .arm-right{
    transform: scale(.3);
    transform-origin: center;
  }
  .arm-left{
    transform: scaleX(.3)scaleY(0.3);
    transform-origin: 22em 26em;
  }
  .cal{
    transform: scaleX(.3);
    transform-origin: 26em;
  }
  .circle1,.circle2,.circle3,.circle4,.circle5{
    r: 0;
  }
  .hat{
    transform: translateY(-40vh);
  }
  #head{
    transform: translateY(-60vw);
    animation:{
      name: setBody;
      duration: 1.3s;
      delay: .4s;
      timing-function: cubic-bezier(.51,.01,.79,.02);
      fill-mode: forwards;
    }
  }
  .head-shadow{
    opacity: 0;
    animation:{
      name: setShadow;
      duration: 1.3s;
      delay: .4s;
      timing-function: cubic-bezier(.51,.01,.79,.02);
      fill-mode: forwards;
    }
  }
  #body1{
    transform: translateY(-60vw);
    animation:{
      name: setBody;
      duration: 1.3s;
      timing-function: cubic-bezier(.51,.01,.79,.02);
      fill-mode: forwards;
    }
  }
  #body2{
    transform: translateY(-60vw);
    animation:{
      name: setBody;
      duration: 1.3s;
      delay: .2s;
      timing-function: cubic-bezier(.51,.01,.79,.02);
      fill-mode: forwards;
    }
  }
  .body2-shadow{
    opacity: 0;
    animation:{
      name: setShadow;
      duration: 1.3s;
      delay: .2s;
      timing-function: cubic-bezier(.51,.01,.79,.02);
      fill-mode: forwards;
    }
  }

  .circle1,.circle2,.circle3,.circle4,.circle5{
    r: 0;
    animation:{
      name: circle;
      duration: .2s;
      delay: 2s;
      timing-function: ease;
      fill-mode: forwards;
    }
  }
  .circle2{
    animation-delay: 2.1s;
  }
  .circle3{
    animation-delay: 2.2s;
  }
  .circle4{
    animation-delay: 2.3s;
  }
  .circle5{
    animation-delay: 2.4s;
  }
}
.jump{
  #head{
    animation:{
      name: jumpHead,jumpHeadBottom;
      duration: .5s;
      delay: 0s,.5s;
      timing-function: cubic-bezier(.19,1,.7,1),cubic-bezier(.51,.01,.79,.02);
      fill-mode: forwards;
    }
  }
  .head-shadow{
    animation:{
      name: jumpHeadShadow,jumpHeadShadowBottom;
      duration: .5s;
      delay: 0s,.5s;
      timing-function: cubic-bezier(.19,1,.7,1),cubic-bezier(.51,.01,.79,.02);
      fill-mode: forwards;
    }
  }
  #body1{
    animation:{
      name: jumpBody1,jumpBody1Bottom;
      duration: .5s;
      delay: 0s,.5s;
      timing-function: cubic-bezier(.19,1,.7,1),cubic-bezier(.51,.01,.79,.02);
      fill-mode: forwards;
    }
  }
  #body2{
    animation:{
      name: jumpBody2,jumpBody2Bottom;
      duration: .5s;
      delay: 0s,.5s;
      timing-function: cubic-bezier(.19,1,.7,1),cubic-bezier(.51,.01,.79,.02);
      fill-mode: forwards;
    }
  }
  .body2-shadow{
    animation:{
      name: jumpBody2Shadow,jumpBody2ShadowBottom;
      duration: .5s;
      delay: 0s,.5s;
      timing-function: cubic-bezier(.19,1,.7,1),cubic-bezier(.51,.01,.79,.02);
      fill-mode: forwards;
    }
  }
  .arm-right{
    transform: scale(.3);
    transform-origin: center;
  }
  .arm-left{
    transform: scaleX(.3)scaleY(0.3);
    transform-origin: 22em 26em;
  }
  .cal{
    transform: scaleX(.3);
    transform-origin: 26em;
  }
  .cal{
    transform: scaleX(.3);
    animation:{
      name: jumpAction;
      duration: .4s;
      delay: 1s;
      fill-mode: forwards;
    }
  }
  .arm-right{
    animation:{
      name: jumpAction;
      duration: .2s;
      delay: 1.1s;
      fill-mode: forwards;
    }
  }
  .arm-left{
    animation:{
      name: jumpAction;
      duration: .2s;
      delay: 1.2s;
      fill-mode: forwards;
    }
  }
  .hat{
    transform: translateY(-40vh);
  }

  .hat{
    animation:{
      name: setBody;
      duration: .3s;
      delay: 1.1s;
      timing-function: ease-in;
      fill-mode: forwards;
    }
  }
  .circle1,.circle2{
    transform: scaleY(1);
    transform-origin: 0em 20em;
    animation:{
      name: blink;
      duration: 1.6s;
      delay: 1.5s;
      timing-function: ease;
      fill-mode: forwards;
    }
  }
}
@keyframes rejumpHead {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-13vw);
  }
}
@keyframes rejumpHeadShadow {
  0%{
    opacity: 1;
  }
  5%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@keyframes rejumpHeadBottom {
  0%{
    transform: translateY(-13vw);
  }
  100%{
    transform: translateY(60vw);
  }
}
@keyframes rejumpBody1 {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-5vw);
  }
}
@keyframes rejumpBody1Bottom {
  0%{
    transform: translateY(-5vw);
  }
  100%{
    transform: translateY(60vw);
  }
}
@keyframes rejumpBody2 {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-9vw);
  }
}
@keyframes rejumpBody2Shadow {
  0%{
    opacity: 1;
  }
  5%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@keyframes rejumpBody2Bottom {
  0%{
    transform: translateY(-9vw);
  }
  100%{
    transform: translateY(60vw);
  }
}

.rejump{
  #head{
    animation:{
      name: rejumpHead,rejumpHeadBottom;
      duration: .5s,1s;
      delay: 0s,.5s;
      timing-function: cubic-bezier(.19,1,.7,1),cubic-bezier(.51,.01,.79,.02);
      fill-mode: forwards;
    }
  }
  .head-shadow{
    animation:{
      name: rejumpHeadShadow;
      duration: .5s;
      delay: 0s;
      timing-function: cubic-bezier(.19,1,.7,1);
      fill-mode: forwards;
    }
  }
  #body1{
    animation:{
      name: rejumpBody1,rejumpBody1Bottom;
      duration: .5s,1s;
      delay: 0s,.5s;
      timing-function: cubic-bezier(.19,1,.7,1),cubic-bezier(.51,.01,.79,.02);
      fill-mode: forwards;
    }
  }
  #body2{
    animation:{
      name: rejumpBody2,rejumpBody2Bottom;
      duration: .5s,1s;
      delay: 0s,.5s;
      timing-function: cubic-bezier(.19,1,.7,1),cubic-bezier(.51,.01,.79,.02);
      fill-mode: forwards;
    }
  }
  .body2-shadow{
    animation:{
      name: rejumpBody2Shadow;
      duration: .5s;
      delay: 0s;
      timing-function: cubic-bezier(.19,1,.7,1);
      fill-mode: forwards;
    }
  }
}
