html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}

body {
  padding: 15vw;
  width: 65vw;
  height: 65vw;
}

svg {
  overflow: visible;
}

#svg-moon {
  transform: scale(2) translate(-800px, -460px);
}

#grave {
  transform: translate(670px, -123px) rotate(9deg);
}

#svg-witch {
  transform: scale(2) translate(-800px, -460px);
}
#svg-witch__path-1 {
  transform: translate(10px, -10px);
  animation-name: fadeCloud1,fadeoutCloud1;
  animation-duration: 5.5s,10s;
  animation-timing-function: ease-in-out,linear;
  animation-fill-mode: forwards;
  animation-delay: 0s,5.5s;
}
#svg-witch__path-2 {
  transform: translate(10px, -10px);
  animation-name: fadeCloud2,fadeoutCloud2;
  animation-duration: 5.5s,10s;
  animation-timing-function: ease-in-out,linear;
  animation-fill-mode: forwards;
  animation-delay: 0s,5.5s;
}

#svg-majo {
  transform: translate(3500px, 100px) scale(0.7);
  animation-name: majo;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

#pumpkin {
  transform: translate(470px, 570px);
}
#pumpkin__face {
  fill: #222;
  animation-name: pumpkinFace;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes pumpkinFace {
  0%,21%,23%,40%,43%,45%,79%,81%,100% {
    fill: #222;
  }
  22%,41%,44%,80% {
    fill: #888;
  }
}
@keyframes majo {
  from {
    transform: translate(3500px, 100px) scale(0.7);
  }
  to {
    transform: translate(-1500px, 100px) scale(0.7);
  }
}
@keyframes fadeCloud1 {
  0% {
    transform: translate(10px, -10px);
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translate(900px, -10px);
    opacity: .8;
  }
}
@keyframes fadeoutCloud1 {
  to {
    transform: translate(1000px, -10px);
  }
}
@keyframes fadeCloud2 {
  0% {
    transform: translate(0px, 0px);
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translate(-600px, 0px);
    opacity: .8;
  }
}
@keyframes fadeoutCloud2 {
  to {
    transform: translate(-700px, -10px);
  }
}
