
$baseColorOpacity: rgba(255,255,255,0);
$baseColor: rgba(255,255,255,1);
$bgColor: #0E0E0E;
$shadowColor: rgba(255,255,255,1);

html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body{
  background: $bgColor;
  width: 95vw;
}
svg{
  overflow: visible;
}
@keyframes shadow {
  100%{
    filter: drop-shadow(0px 0px 20px $shadowColor);
  }
}
#svg_z-2,
#svg_a-1,
#svg_a-4,
#svg_t-2,
#svg_y-3
{
  stroke-dasharray: 77;
  stroke-dashoffset: 77;
  fill: $baseColorOpacity;
  stroke: $baseColor;
  animation: circle 2s linear;
  animation-fill-mode: forwards;
}

#svg_z-1,
#svg_z-3,
#svg_a-2,
#svg_a-3,
#svg_t-1,
#svg_t-3,
#svg_t-4,
#svg_y-1,
#svg_y-2,
#svg_y-4
{
  fill: $baseColorOpacity;
  stroke: $baseColor;
}

#svg_z-1,
#svg_z-3
{
  stroke-dasharray: 530;
  stroke-dashoffset: 530;
  animation: pathz 3s linear 1s;
  animation-fill-mode: forwards;
}

#svg_a-3{
  stroke-dasharray: 470;
  stroke-dashoffset: 470;
  animation: patha2 3s linear 1s;
  animation-fill-mode: forwards;

}
#svg_a-2
{
  stroke-dasharray: 227;
  stroke-dashoffset: 227;
  animation: patha3 3s linear 1s;
  animation-fill-mode: forwards;

}

#svg_t-1,
#svg_t-3
{
  stroke-dasharray: 119;
  stroke-dashoffset: 119;
  animation: patht1 3s linear 1s;
  animation-fill-mode: forwards;

}
#svg_t-4
{
  stroke-dasharray: 212;
  stroke-dashoffset: 212;
  animation: patht2 3s linear 1s;
  animation-fill-mode: forwards;

}

#svg_y-1,
#svg_y-4
{
  stroke-dasharray: 106;
  stroke-dashoffset: 106;
  animation: pathy1 3s linear 1s;
  animation-fill-mode: forwards;

}

#svg_y-2
{
  stroke-dasharray: 319;
  stroke-dashoffset: 319;
  animation: pathy2 3s linear 1s;
  animation-fill-mode: forwards;

}

@keyframes circle
{
  0% {
    stroke-dashoffset: 77;
    fill: $baseColorOpacity;
  }
  60% {
    stroke-dashoffset: 0;
    fill: $baseColorOpacity;
  }
  100% {
    stroke-dashoffset: 0;
    fill: $baseColor;
  }
}

@mixin path($name:path,$offset:0) {
  @keyframes #{$name} {
    0% {
      stroke-dashoffset: $offset;
      fill: $baseColorOpacity;
    }
    60% {
      stroke-dashoffset: 0;
      fill: $baseColorOpacity;
    }
    100% {
      stroke-dashoffset: 0;
      fill: $baseColor;
    }
  }
}

@include path(pathz,530);
@include path(patha2,470);
@include path(patha3,227);
@include path(patht1,119);
@include path(patht2,212);
@include path(pathy1,106);
@include path(pathy2,319);
