$baseColor: rgba(255,255,255,1);
$bgColor: #0E0E0E;
$shadowColor: rgba(255,255,255,1);

$position: -60vh;

html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body{
  background: $bgColor;
  width: 95vw;
}
svg{
  overflow: visible;
  filter: drop-shadow(0px 0px 10px $shadowColor);
  animation: shadow .3s ease-in 2s;
  animation-fill-mode: forwards;
}
circle{
  stroke-width: 5px;
}
@keyframes shadow {
  100%{
    filter: drop-shadow(0px 0px 12px $shadowColor);
  }
}
#svg-z{
  &__ln-1{
    stroke: $baseColor;
    stroke-dasharray: 253;
    stroke-dashoffset: 253;
    animation: drowZback .5s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__ln-2{
    stroke: $baseColor;
    stroke-dasharray: 253;
    stroke-dashoffset: 253;
    animation: drowZ .5s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__cl-1{
    stroke: $baseColor;
    transform: translate(0,$position);
    animation: drop .5s ease-in;
    animation-fill-mode: forwards;

  }
}

#svg-a{
  &__ln-1{
    stroke: $baseColor;
    stroke-dasharray: 222;
    stroke-dashoffset: 222;
    animation: drowA .5s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__ln-2{
    stroke: $baseColor;
    stroke-dasharray: 99;
    stroke-dashoffset: 99;
    animation: drowA .5s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__cl-1{
    stroke: $baseColor;
    transform: translate(0,$position);
    animation: drop .5s ease-in .3s;
    animation-fill-mode: forwards;

  }
  &__cl-2{
    stroke: $baseColor;
    transform: translate(0,$position);
    animation: drop .5s ease-in .4s;
    animation-fill-mode: forwards;

  }
}

#svg-t{
  &__ln-1{
    stroke: $baseColor;
    stroke-dasharray: 46;
    stroke-dashoffset: 46;
    animation: drowTback .5s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__ln-2{
    stroke: $baseColor;
    stroke-dasharray: 46;
    stroke-dashoffset: 46;
    animation: drowT .5s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__ln-3{
    stroke: $baseColor;
    stroke-dasharray: 99;
    stroke-dashoffset: 99;
    animation: drowT .5s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__cl-1{
    stroke: $baseColor;
    transform: translate(0,$position);
    animation: drop .5s ease-in .6s;
    animation-fill-mode: forwards;

  }
}

#svg-y{
  &__ln-1{
    stroke: $baseColor;
    stroke-dasharray: 38;
    stroke-dashoffset: 38;
    animation: drowYback .5s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__ln-2{
    stroke: $baseColor;
    stroke-dasharray: 38;
    stroke-dashoffset: 38;
    animation: drowY .5s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__ln-3{
    stroke: $baseColor;
    stroke-dasharray: 160;
    stroke-dashoffset: 160;
    animation: drowY .5s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__cl-1{
    stroke: $baseColor;
    animation: drop .5s ease-in .9s;
    animation-fill-mode: forwards;
    transform: translate(0,$position);
  }
}

@keyframes drop {
  0% {
    transform: translate(0,$position);
  }

  85% {
    transform: translate(0,10px);
  }

  100% {
    transform: translate(0,0);
  }
}

@mixin drow($name:drow,$offset:0) {
  @keyframes #{$name} {

    100%{
      stroke-dashoffset: $offset;
    }

  }
}

@include drow(drowZ,0);
@include drow(drowZback,506);
@include drow(drowA,0);
@include drow(drowT,0);
@include drow(drowTback,92);
@include drow(drowY,0);
@include drow(drowYback,76);
