/* line 4, zatyicon3.scss */
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0e0e0e; }

/* line 11, zatyicon3.scss */
body {
  border: 10px solid #FFFFFF;
  padding: 9vw;
  width: 75vw;
  height: 75vw; }

/* line 17, zatyicon3.scss */
div {
  padding: 7vw; }

/* line 20, zatyicon3.scss */
svg {
  animation: rotate 2s ease-out 0s infinite;
  animation-fill-mode: forwards;
  overflow: visible; }

/* line 25, zatyicon3.scss */
circle {
  stroke-dasharray: 16000;
  stroke-dashoffset: 0;
  transform: rotate(90deg) translate(0px, -2000px); }

/* line 32, zatyicon3.scss */
#svg-logo__polygon-1, #svg-logo__polygon-2,
#svg-logo .path-poly, #svg-logo__wiln-1, #svg-logo__wiln-2 {
  fill: #FFFFFF; }
/* line 36, zatyicon3.scss */
#svg-logo__leln-1, #svg-logo__leln-2 {
  stroke: #FFFFFF; }
/* line 39, zatyicon3.scss */
#svg-logo__leln-1 {
  stroke-dasharray: 610;
  stroke-dashoffset: 610;
  stroke-linecap: round;
  animation: sandln1 2s ease-in 0s infinite;
  animation-fill-mode: forwards; }
/* line 46, zatyicon3.scss */
#svg-logo__polygon-1 {
  transform: translate(500px, 950px) scale(0.5);
  animation: sand1 2s ease-in 0s infinite;
  animation-fill-mode: forwards; }
/* line 51, zatyicon3.scss */
#svg-logo__leln-2 {
  stroke-dasharray: 410;
  stroke-dashoffset: 410; }
/* line 55, zatyicon3.scss */
#svg-logo__polygon-2 {
  transform: translate(500px, 450px) scale(1.5);
  animation: sand2 2s ease-in 0s infinite;
  animation-fill-mode: forwards; }
/* line 61, zatyicon3.scss */
#svg-logo .path-bg {
  fill: #0e0e0e; }

@keyframes sand1 {
  0% {
    transform: translate(500px, 950px) scale(0.5); }
  25% {
    transform: translate(500px, 950px) scale(0.5); }
  75% {
    transform: translate(-500px, -445px) scale(1.5); }
  80% {
    transform: translate(-500px, -445px) scale(1.5); }
  98% {
    transform: translate(-500px, -550px) scale(1.5); }
  100% {
    transform: translate(-500px, -550px) scale(1.5); } }
@keyframes sand2 {
  0% {
    transform: translate(-500px, -450px) scale(1.5); }
  58% {
    transform: translate(500px, 550px) scale(0.5); }
  98% {
    transform: translate(500px, 550px) scale(0.5); }
  100% {
    transform: translate(500px, 550px) scale(0.5); } }
@keyframes sandln1 {
  0% {
    stroke-dashoffset: 610; }
  45% {
    stroke-dashoffset: 0; }
  80% {
    stroke-dashoffset: -610; }
  98% {
    stroke-dashoffset: -610; }
  100% {
    stroke-dashoffset: -610; } }
@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  80% {
    transform: rotate(0deg); }
  98% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(180deg); } }
