$bgColor: #0e0e0e;
$baseColor: #FFFFFF;

html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $bgColor;
}
body{
  border: 10px solid $baseColor;
  padding: 9vw;
  width: 75vw;
  height: 75vw;
}
div{
  padding: 7vw;
}
svg{
  animation: rotate 2s ease-out infinite;
  animation-fill-mode: forwards;
  overflow: visible;
}
circle{
  stroke-dasharray: 16000;
  stroke-dashoffset: 0;
  transform: rotate(90deg) translate(0px,-2000px);
}
#svg-logo{
  &__polygon-1,&__polygon-2,
  .path-poly,&__wiln-1,&__wiln-2{
    fill: $baseColor;
  }
  &__leln-1,&__leln-2{
    stroke: $baseColor;
  }
  &__leln-1{
    stroke-dasharray: 410;
    stroke-dashoffset: 410;
    stroke-linecap: round;
    animation: sandln1 2s ease-in infinite;
    animation-fill-mode: forwards;
  }
  &__polygon-1{
    transform: translate(500px, 950px) scale(0.5);
    animation: sand1 2s ease-in infinite;
    animation-fill-mode: forwards;
  }
  &__leln-2{
    stroke-dasharray: 410;
    stroke-dashoffset: 410;
  }
  &__polygon-2{
    transform: translate(0px,0px) scale(1);
    animation: sand2 2s ease-in infinite;
    animation-fill-mode: forwards;

  }
  .path-bg{
    fill: $bgColor;
  }
}

@keyframes sand1 {
  35%{
    transform: translate(500px, 950px) scale(0.5);
  }
  80%{
    transform: translate(0, 205px) scale(1);
  }
  98%{
    transform: translate(0, 0) scale(1);
  }
  100%{
    transform: translate(0, 0) scale(1);
  }
}

@keyframes sand2 {
  0%{
    transform: translate(0px,0px) scale(1);
  }
  80%{
    transform: translate(500px, 550px) scale(0.5);
  }
  98%{
    transform: translate(500px, 550px) scale(0.5);
  }
  100%{
    transform: translate(500px, 550px) scale(0.5);
  }
}
@keyframes sandln1 {
  0%{
    stroke-dashoffset: 410;
  }
  45%{
    stroke-dashoffset: 0;
  }
  80%{
    stroke-dashoffset: -410;
  }
  98%{
    stroke-dashoffset: -410;
  }
  100%{
    stroke-dashoffset: -410;
  }
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  80%{
    transform: rotate(0deg);
  }
  98%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(180deg);
  }
}
