$baseColor: rgba(255,255,255,1);
$bgColor: #0E0E0E;
$shadowColor: rgba(255,255,255,1);
$position: -60vh;
html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body{
  background: $bgColor;
  width: 95vw;
}
svg{
  overflow: visible;
  filter: drop-shadow(0px 0px 3px $shadowColor);
  animation: shadow .3s ease-in 1.5s;
  animation-fill-mode: forwards;
}
circle{
  stroke-width: 5px;
}
@keyframes shadow {
  100%{
    filter: drop-shadow(0px 0px 12px $shadowColor);
  }
}
#svg-z{
  &__ln-1{
    stroke: $baseColor;
    opacity: 0;
    animation: opacity 1s ease-in 1.5s;
    animation-fill-mode: forwards;
  }
  &__ln-2{
    stroke: $baseColor;
    opacity: 0;
    animation: opacity 1s ease-in 1.5s;
    animation-fill-mode: forwards;
  }
  &__cl-1{
    stroke: $baseColor;
    transform: translate(0,$position);
    animation: drop .5s ease-in;
    animation-fill-mode: forwards;

  }
}

#svg-a{
  &__ln-1{
    stroke: $baseColor;
    opacity: 0;
    animation: opacity 1s ease-in 1.5s;
    animation-fill-mode: forwards;
  }
  &__ln-2{
    stroke: $baseColor;
    opacity: 0;
    animation: opacity 1s ease-in 1.5s;
    animation-fill-mode: forwards;
  }
  &__cl-1{
    stroke: $baseColor;
    transform: translate(0,$position);
    animation: drop .5s ease-in .3s;
    animation-fill-mode: forwards;

  }
  &__cl-2{
    stroke: $baseColor;
    transform: translate(0,$position);
    animation: drop .5s ease-in .4s;
    animation-fill-mode: forwards;

  }
}

#svg-t{
  &__ln-1{
    stroke: $baseColor;
    opacity: 0;
    animation: opacity 1s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__ln-2{
    stroke: $baseColor;
    opacity: 0;
    animation: opacity 1s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__ln-3{
    stroke: $baseColor;
    opacity: 0;
    animation: opacity 1s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__cl-1{
    stroke: $baseColor;
    transform: translate(0,$position);
    animation: drop .5s ease-in .6s;
    animation-fill-mode: forwards;

  }
}

#svg-y{
  &__ln-1{
    stroke: $baseColor;
    opacity: 0;
    animation: opacity 1s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__ln-2{
    stroke: $baseColor;
    opacity: 0;
    animation: opacity 1s ease-in 1.5s;
    animation-fill-mode: forwards;

  }
  &__ln-3{
    stroke: $baseColor;
    opacity: 0;
    animation: opacity 1s ease-in 1.5s;
    animation-fill-mode: forwards;
  }
  &__cl-1{
    stroke: $baseColor;
    animation: drop .5s ease-in .9s;
    animation-fill-mode: forwards;
    transform: translate(0,$position);
  }
}

@keyframes drop {
  0% {
    transform: translate(0,$position);
  }
  85% {
    transform: translate(0,10px);
  }
  100% {
    transform: translate(0,0);
  }
}
@keyframes opacity {
  100%{
    opacity: 1;
  }
}
